{% extends 'main/base.html' %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
{% endblock %}

{% block title %}
  Joy-It robot control
{% endblock %}

{% block content %}
  <!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Joy-it Robot Control</span>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <br>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col d-flex justify-content-center">
      <img class="img-robot" src="{{ url_for('static', filename='robot_01.jpg') }}" alt="">
    </div>
    <div class="col">
      <form id="axesForm" method="POST">
        {% for ax in axes %}
          <div class="form-group row">
            {% set ctl_name = ax.name %}
            <label for="{{ ctl_name }}" class="col-sm-2 col-form-label">{{ ax.label }}:</label>
            <div class="col-sm-10">
              <input type="range" class="form-control-range" id="{{ ctl_name }}"  name="{{ ctl_name }}" value={{ ax.value }}>
            </div>
          </div>
        {% endfor %}
        <div class="row">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}